html,body {
    margin:0;
    padding:0;
    height:100%;
 }
 
 #container {
    min-height:100%;
    position:relative;
    padding-bottom:60px;
 }

 #body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
 }
 .footerMain {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#000000;
 }

 .col-md-9 {
    width: 450px;
    height: 450px;
    overflow-x: hidden !important;
    overflow-y: scroll;
 }
