div {
    padding-bottom:60px;
}

img:hover {  
    border:2px solid red;  
    box-shadow: 0 0 10px #333;  
    -webkit-box-shadow: 0 0 10px #333;  
    -moz-box-shadow: 0 0 10px #333;
    -o-box-shadow: 0 0 10px #333;  
    -ms-box-shadow: 0 0 10px #333;
}
