<div id="demo">
   <img id=0 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=1 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=2 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=3 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=4 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=5 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=6 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=7 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=8 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=9 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=10 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=11 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=12 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=13 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
   <img id=14 (click)="draftCard($event)" src= "" width = "150px" height = "200px">
</div>
<p id="display_deck"></p>
